@model StateList 

<h2>Find the average gas price across the United States</h2>
@using (Html.BeginForm("ShowState", "Home", "Post"))
{
    
    <div class="form-group">
        <label for="">Select a State</label>
        <select class="form-control" name="selectedState" value="">
            @foreach (var state in Model.States)
            {
                <option value="@state">@state</option>
            }
        </select>
    </div>
    <input type="submit" value="See Prices" class="btn btn-primary" />
}