@{
    ViewData["Title"] = "";
}
<h1>@ViewData["Title"]</h1>

<p>     This web site was created using the API "Gas Price", created by user CollectAPI.
    It can be located at RapidAPI, the largest API marketplace in the world. Below is a link that will bring 
    you to the RapidAPI home page.</p>

<p>https://rapidapi.com/</p>
