@model State

<h1>@Model.Name</h1>


<div class="fixed_headers">
    <table>
        <thead>
            <tr>
                <th>City</th>
                <th>Price of Regular(USD)</th>
                <th>Price of MidGrade(USD)</th>
                <th>Price of Premium(USD)</th>
                <th>Price of Diesel(USD)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var city in Model.Cities)
            {
                <tr>
                    <td>@city.Name</td>
                    <td>$@city.Gasoline</td>
                    <td>$@city.MidGrade</td>
                    <td>$@city.Premium</td>
                    <td>$@city.Diesel</td>
                </tr>
            }
        </tbody>
    </table>
</div>